:root{
    --branco: #fff;
    --azul_fundo: #03101C;
    --cinza_claro: #c8c8c8
}

*{margin: 0;}

body {
    background-color: var(--azul_fundo);
    color: var(--branco);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.Dimensão-logo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
}
.form-login {
    margin: auto;
    width: 60%;
}

h1 {
    text-align: center;
}

.caixa-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 80%;
    border-bottom: 2px solid #c8c8c8;
    padding: 10px; margin: 0 auto;
    border: 0px;
    border-bottom: 2px solid #D600FF;
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    color: #ffffff;
}

.btn { /*botão login*/
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff00ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.btn:hover { /*escolher cor do botão quando passa o mouse em cima*/
    background-color: #c000c0;
}

.Bem-vindo {
    width: 45%;
    background: linear-gradient(90deg, rgba(204,0,242,1) 0%, rgba(101,0,120,1) 100%);
    border-radius: 200px 0 0 200px;
    padding: 150px;
    height: 60%;
    max-width: 400px;   
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo svg {
    fill: #ff00ff;
    width: 100%;
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.lembrar-de-mim {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0px auto 15px 25px
}

#confirmacao-lembrar{
    width: max-content;
    margin: 0px 10px 0px 0px;
}

.remember input {
    margin-right: 5px;
}

.Esqueceu-Senha{
    color: #2051FF;
}

.btn-cadastrar{ /*botão cadastrar*/
    border: none;
    background-color:rgb(255, 255, 255);
    color: #ff00ff ;
    font-size:medium;
    border-radius: 5px;
    padding: 10px;
}
